body {
	font-family: Verdana, sans-serif, Helvetica;
    font-size: 12px;
    background: #fff;
    min-height: 100%;
    padding-bottom: 50px;
}
#header {
	background-image: none;
    background-color: #2C3742;
    display: block;
    height: 50px;
    margin: 0;
    padding: 0 13px 0 0;
}
.page-footer {
	background-image: none;
    background-color: #2C3742;
    height: 52px;
    padding: 15px 13px 0;
    padding-left: 233px;
    border-top: 1px solid #CECECE;
    background: #2a2725;
    width: 100%;
    position: fixed;
    display: block;
    bottom: 0;
}
input[type=button], input[type=submit], input[type=reset], button {
    background: #0066A6 url(../images/ButtonGradient.png) repeat scroll center center;
    border: 0px outset;
    color: #FFFFFF;
    margin: 0;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 4px;
    letter-spacing: 1px;
    margin-top: 10px;
}
.center {
    text-align: center !important;
}
.pull-right {
    float: right!Important;
}
.error-field {
    color : #D56161;
}